/* Main Style */

*, *::after, *::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-size: 62.5%;
    margin: 0;
}

body {
    font-size: 1.6rem;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3d3536;
    background-color: #fff;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none !important;
    -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;
}

ul {
  list-style-type: none;  
}

h1 {
    font-size: .7em;
    font-weight: 300;
}


/* Fixed and Scroll Backgrounds */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 3
}

.main-header:after{
    content: '';
    display: table;
    clear: both;
}

.main-header-logo {
    float: left;
    margin: 13px 0 0 5%;
}

.main-header-logo img {
    display: block
}

@media only screen and (min-width: 768px) {
    .main-header {
        height: 44px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .main-header-logo {
        margin: 23px 0 0 5%;
    }
}

.main-nav {
    float: right;
    margin-right: 5%;
    width: 44px;
    height: 100%;
    cursor: pointer;
}

.main-nav-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

.main-nav-list.main-nav-list--is-visible {
    -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
}

.main-nav-list a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    color: #fff;
}

.icon i {
    font-size: 90px;
}

.icon-img {
    height: 90px;
}

.label {
    display: flex;
    justify-content: center;
    font-weight: 200;
    color: #000;
}

.all-skills {
    display: flex; justify-content: space-around; flex-wrap: wrap;
}

#container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .main-nav {
        /* Reset Style */
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }

    .main-nav-list {
        /* Reset Style */
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
        /* line-height: 70px; */
    }

    .main-nav-list.main-nav-list--is-visible {
        /* Reset Style */
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
    }

    .main-nav-list li {
        display: inline-block;
        margin-left: 1em;
    }

    .main-nav-list a {
        display: block;
        height: auto;
        line-height: normal;
        background: transparent;
        padding: .6em 1em;
        border-top: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 400;
        -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
    }
    .main-nav-list a:hover {
        color: #808080;
    }
}

.fixed-bg {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.fixed-bg--content, .fixed-bg h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
}

.fixed-bg h1, .fixed-bg h2 {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: #000; 
}

.fixed-bg.fixed-bg--1 {
    background-image: url("../images/main.jpg");
    background-size: cover;
    background-position: center center;
}

.fixed-bg.fixed-bg--2 {
    background-image: url("../images/background-2.jpg");
}

@media only screen and (min-width: 768px) {
    .fixed-bg h1, .fixed-bg h2 {
      font-size: 3.6rem;
    }
}


@media only screen and (min-width: 1170px) {
    .fixed-bg h1, .fixed-bg h2 {
      font-size: 4.8rem;
      font-weight: 300;
    }
    @supports (background-attachment: fixed) {
        /* Fixes bug on IE11 and below */
        .fixed-bg {
          background-attachment: fixed;
        }
    }
}

.scrolling-bg {
    position: relative;
    min-height: 100%;
    padding: 4em 0;
    line-height: 1.6;
    z-index: 2;
}

.scrolling-bg.scrolling-bg--color {
    background-color: #fff;
    color: #a6989a;
  }
  




